
 div{
     box-sizing: border-box;
 }

// .search-form{
//     width: 30vw;
//     display: flex;
//     .search-input{
//         width: 20vw;
//         font-size: 1.5rem;
//     }
//     .search-button{
//         width: 10vw;
//         font-size: 1.5rem;
//     }
// }


    .container{
        display: flex;
        flex-direction: column;
    }

    .showed-row, .first-row{
        flex-basis: 2vh;
        display: flex;
        font-size: 1.5rem;
        .id, .name, .city, .total-income, .average-income, .last-income{
            padding: 1%;
            border: 1px solid black;
            // line-height: 1rem;
        }
        .id{
            flex-basis: 5%;
            text-align: right;
        }
        .name{
            flex-basis: 25%;
            padding-left: 5px;
        }
        .city{
            flex-basis: 25%;
        }
        .total-income{
            flex-basis: 15%;
        }
        .average-income{
            flex-basis: 15%;
        }
        .last-income{
            flex-basis: 15%;
        }
    }
    .hidden-row{
        display: none;
    }

    .pagination{
        width: 50vw;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        .page{
            flex: 1 5%;
            padding: 5px;
            border: 1px solid black;
            line-height: 1rem;
            text-align: center;
            cursor: pointer;
        }
    }


@media(max-width: 675px) {

    *{
        display: block;
    }

    .search-form{
        width: 10vw;
        display: flex;
        .search-input{
            flex: 1;
            font-size: 1.3rem;
        }
        .search-button{
            flex: 1;
            width: 20vw;
        }
    }
    .container{
        .first-row{
            width: 100vw;
            font-size: 1rem;
        }
        .showed-row{
            width: 100vw;
            font-size: 0.7rem;
        }
    }

    .pagination{
        width: 100%;
    }
}