
* {
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
    font-size: 2vw;
}

.page-wrapper {
    width: 80vw;
    margin: 0 auto;
}

.search-form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .search-input, .search-button {
        font-size: inherit;
    }
}

.cell {
    padding: 10px;
    border: 1px solid gray;
}

.header, .row {
    display: flex;
    justify-content: center;
    .id{
        width: 6%;
    }
    .name{
        width: 23%;
    }
    .city{
        width: 23%;
    }
    .total-income{
        width: 17%;
    }
    .average-income{
        width: 15%;
    }
    .last-income{
        width: 17%;
    }
}
.header{
    .cell{
        cursor: pointer;
        &:hover{
            border-color: orange;
        }
    }
}
.cell__sorted{
    background: rgba(168, 76, 0, 0.2);
}
.ascending-btn{
    position: relative;
}
.ascending-btn:after{
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    width: 0;
    height: 0; 
    border-right: 10px solid transparent;
    border-bottom: 10px solid red;
    border-left: 10px solid transparent;
}
.descending-btn{
    position: relative;
}
.descending-btn:after{
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    width: 0;
    height: 0; 
    border-right: 10px solid transparent;
    border-top: 10px solid red;
    border-left: 10px solid transparent;
}

.hidden-row{
    display: none;
}

.pagination{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .page{
        flex: 1 5%;
        padding: 2% 0;
        border: 1px solid black;
        line-height: 1rem;
        text-align: center;
        cursor: pointer;
    }
}


@media(max-width: 675px) {

    html, body{
        padding: 0;
        margin: 0;
        font-size: 3.4vw;
    }
    .page-wrapper {
        width: 100vw;
    }

    .search-form{
    }
    .container{
        width: 100vw;
        margin: 0 auto;
        .header{
            font-weight: 500;
        }
        .showed-row{
            width: 100vw;
        }
    }
    .header, .row {
        .id{
            padding: 20px 0;
            text-align: center;
            width: 6%;
        }
        .name{
            width: 21%;
        }
        .city{
            width: 21%;
        }
        .total-income{
            width: 19%;
        }
        .average-income{
            width: 15%;
        }
        .last-income{
            width: 17%;
        }
    }

    .pagination{
        width: 100vw;
        font-size: 1rem;
    }
}

@media(min-width: 676px) and (max-width: 1025px) {

    .search-form{
    }

    .container{
        margin: 0 auto;
    }

    .header, .row{
        .id{
            width: 6%;
        }
        .name{
            width: 22%;
        }
        .city{
            width: 22%;
        }
        .total-income{
            width: 17%;
        }
        .average-income{
            width: 15%;
        }
        .last-income{
            width: 17%;
        }
    }

    .pagination{
        width: 100%;
        .page{
            padding: 2%;
        }
    }
}
