@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import "./variables.css";
// @import "./scss/fontawesome.scss";
// @import "./scss/solid.scss";

*,
body,
:before,
:after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}
html,
body {
  font-size: 2vw;
}

.page-wrapper {
  width: 90vw;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.search-form {
  // search form
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .search__input,
  .search__button {
    border: 2px solid var(--search__border--color);
    font-size: inherit;
  }
  .search__input {
    flex: 5;
    height: 100%;
    padding: 0 10px;
    font-weight: 300;
    border-bottom-left-radius: var(--search__radius-borders);
    border-top-left-radius: var(--search__radius-borders);
    background: var(--search__background--color);
    ::placeholder {
      color: black;
    }
    &:focus {
      outline: none;
    }
  }
  .search__button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom-right-radius: var(--search__radius-borders);
    border-top-right-radius: var(--search__radius-borders);
    &:hover {
      background: var(--search__border--color);
      .magnifying-glass {
        border: 0.1em solid white;
        &:after {
          background: white;
        }
      }
    }
  }

  .pagination {
    flex: 2;
    height: 100%;
    margin-left: 30%;
    border: 4px solid var(--search__border--color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    .pagination__select {
      width: 40%;
      height: 100%;
      display: flex;
    }
    .pagination__page{
      display: inline-block;
    }
    .change-page {
      width: 30%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      span {
        max-height: 40%;
        font-size: 1rem;
        margin: 0 auto;
        align-self: center;
      }
      &:hover {
        color: white;
        background: var(--search__border--color);
      }
    }
  }
} // search form END


.content {
  height: 90vh;
  border: 3px solid var(--content__border--color);
}

.loading {
  width: 73vh;
  height: 35vh;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  .fa-refresh {
    font-size: 6rem;
    padding: 30px 0;
    animation: rotating 2s linear infinite;
  }
  p {
    margin: 4px;
  }
}

.data__cell--content {
  height: 100%;
}
.header,
.data__row {
  display: grid;
  grid-template-columns: 6% 23% 23% 17% 15% 16%;
}
.header {
  height: var(--row__height--header);
  color: var(--header__font--color);
  background: var(--header__background--color);
  grid-template-rows: 100%;
  i {
    padding: 3px;
    pointer-events: none;
  }
}
.data__cell--header {
  padding-left: 2%;
  border-bottom: 3px solid var(--content__border--color);
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: var(--header__background--color);
    background: var(--header__font--color);
  }
}
.data{
  height: var(--data__height);
}
.data__row {
  height: var(--row__height--data);
  color: var(--row__font--color);
  font-weight: 300;
  grid-template-rows: 100%;
  &:nth-child(2n-1) {
    background: var(--cell__background--1st-color);
    color: var(--row__font--1st-color);
  }
  &:nth-child(2n) {
    background: var(--cell__background--2nd-color);
    color: var(--row__font--2nd-color);
  }
  .data__cell--content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--search__border--color);
    span {
      margin: auto;
    }
  }
}

.hidden-row {
  display: none;
}
.data__cell--sorted {
  background: rgba(168, 76, 0, 0.2);
}

.active {
  .fa-sort-amount-asc {
    visibility: visible;
    transform: scaleY(-1);
  }
}
.ascending {
  .fa-sort-amount-asc {
    transform: scaleY(1);
  }
}

.hidden {
  visibility: hidden;
}

@media (max-width: 675px) {
  html,
  body {
    font-size: 3.5vw;
  }
  .search-form {
    .search__input {
      flex: 4;
      font-size: 1rem;
    }
    .search__button {
      flex: 2;
    }
    .pagination {
      flex: 3;
      margin-left: 0;
    }
  }

  .content {
    width: 100vw;
    height: 100vh;
  }
  .header,
  .data__row {
    grid-template-columns: 7% 22% 22% 17% 15% 17%;
  }
}

@media (min-width: 676px) and (max-width: 1025px) {
  .search-form {
    .search__input {
      flex: 5;
    }
    .search__button {
      flex: 1;
    }
    .pagination {
      flex: 2;
      margin-left: 20%;
    }
  }

  .header,
  .data__row {
    grid-template-columns: 7% 23% 23% 17% 15% 16%;
  }

  .pagination {
    margin-left: 0;
  }
}

@media (max-width: 1025px) {
  .page-wrapper {
    width: 100vw;
  }

  .search-form {
    margin-bottom: 0;
  }
  .loading {
    width: 70%;
    .loading__image {
      width: 100%;
    }
  }
}
@media (orientation: landscape) {
  .change-page {
    font-size: 3vh;
  }
  .pagination__page, .pagination__select {
    font-size: 5vh;
  }
  .fa {
    font-size: 5vh;
  }
  .data__cell--content, .data__cell--header {
    font-size: 3vh;
  }

  @media (max-height: 630px) {
    .search-form {
      height: 11vh;
    }
    .change-page {
      font-size: 7vh;
    }
  }
}
@media (orientation: portrait) {
  .change-page {
    font-size: 2vw;
  }
  .pagination__page, .pagination__select {
    font-size: 4vw;
  }
  .fa {
    font-size: 6vw;
  }
  .data__cell--content, .data__cell--header {
    font-size: 3vw;
  }
}

@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}