@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import './variables.css';
// @import './font-awesome.min.css';


*, :before, :after {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
html, body{
    font-size: 2vw;
}

.page-wrapper {
    width: 80vw;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.search-form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .search__input, .search__button {
        border: 2px solid var(--search__border--color);
        font-size: inherit;
    }
    .search__input{
        flex: 5;
        padding: 0 10px;
        font-weight: 300;
        border-bottom-left-radius: var(--search__radius-borders);
        border-top-left-radius: var(--search__radius-borders);
        background: var(--search__background--color);
        ::placeholder{
            color: black;
        }
    }
    .search__button{
        flex: 1;
        border-bottom-right-radius: var(--search__radius-borders);
        border-top-right-radius: var(--search__radius-borders);
        cursor: pointer;
        .magnifying-glass{
            font-size: 1.4em;
            display: inline-block;
            width: 0.4em;
            box-sizing: content-box;
            height: 0.4em;
            border: 0.1em solid var(--search__button-glass--color);
            position: relative;
            left: -0.1em;
            border-radius: 0.35em;
            &:after {
                content: "";
                display: inline-block;
                position: absolute;
                right: -0.2em;
                bottom: -0.1em;
                border-width: 0;
                background: var(--search__button-glass--color);
                width: 0.3em;
                height: 0.1em;
                transform: rotate(45deg);
            }
        }
        &:hover{
            background: var(--search__border--color);
            .magnifying-glass{
                border: 0.1em solid white;
                &:after {
                    background: white;
                }
            }
        }
    }
    .pagination{
        flex: 2;
        margin-left: 30%;
        border: 4px solid var(--search__border--color);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        .pagination__select{
            width: 40%;
            height: 100%;
        }
        span{
            width: 30%;
            height: 100%;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            &:hover{
                color: white;
                background:  var(--search__border--color);
            }
        }
    }
}

.content{
    border: 6px solid var(--content__border--color);
}

.loading{
    width: 50%;
    height: 60vh;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    .loading__image{
        width: 50%;
        height: 55%;
        display: inline-block;
        background: url('../assets/images/catching-data.png') no-repeat center/cover;
    }
    p{
        margin: 4px;
    }
}

.header, .row {
    display: grid;
    grid-template-columns: 6% 23% 23% 17% 15% 16%;
    .cell{
        align-self: center;
    }
}
.header{
    color: var(--header__font--color);
    background: var(--header__background--color);
    .cell{
        text-align: left;
        height: 6vh;
        border-bottom: 1px solid var(--content__border--color);
        cursor: pointer;
    }
}

.row{
    color: var(--row__font--color);
    font-weight: 300;
    &:nth-child(2n-1){
        background: var(--cell__background--1st-color);
        color: var(--row__font--1st-color);
    }
    &:nth-child(2n){
        background: var(--cell__background--2nd-color);
        color: var(--row__font--2nd-color);
    }
    .cell{
        text-align: center;
    }
}

.cell {
    height: 100%;
    padding: 8px;
    font-size: 0.8rem;
    border-right: 1px solid var(--search__border--color);
}
// .city, .total-income, .average-income, .last-income{
//     line-height: var(--cell__number--lineheight);
// }

.hidden-row{
    display: none;
}
.cell--sorted{
    background: rgba(168, 76, 0, 0.2);
}

.ascending{
    position: relative;
    &:before{
        content:"\f160";
    //     width: 30px;
    //     height: 50%;
    //     position: absolute;
    //     right: 5px;
    //     top: 15px;
    //     content: "";
    //     background: url('../assets/images/ascending-sort.png') no-repeat center/cover;
    }
}
.descending{ 
    position: relative;
    &:after{
        content:"\f160";
    //     width: 30px;
    //     height: 50%;
    //     position: absolute;
    //     right: 5px;
    //     top: 15px;
    //     content: "";
    //     background: url('../assets/images/ascending-sort.png') no-repeat center/cover;
        transform: scaleY(-1);
    }
}

@media(max-width: 1025px){
    .page-wrapper{
        width: 100vw;
    }

    .search-form{
        
        margin-bottom: 0;
    }
}

@media(max-width: 675px) {

    html, body{
        font-size: 3.4vw;
    }
    .page-wrapper {
        width: 100vw;
    }
    .content{
        width: 100vw;
        margin: 0 auto;
        .header{
            font-weight: 500;
        }
    }
    .header, .row {
        grid-template-columns: 6% 23% 23% 17% 15% 16%;
    }

    .pagination{
        width: 100vw;
        font-size: 1rem;
    }
}

@media(min-width: 676px) and (max-width: 1025px) {

    .content{
        margin: 0 auto;
    }

    .cell{
        font-size: 1.2rem;
    }

    .header, .row{
        grid-template-columns: 6% 23% 23% 17% 15% 16%;
    }

    .pagination{
        width: 100%;
        .page{
            padding: 2%;
        }
    }
}
