
*, :before, :after {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
html, body{
    font-size: 2vw;
}
:root{
    --search__border--color: rgb(94, 110, 255);
    --search__background--color: rgb(255, 244, 215);
    --search__button-glass--color: rgb(0, 68, 255);
    --search__radius-borders: 20px;

    --content__border--color: rgba(0, 60, 255, 0.315);

    --header__background--color: rgba(129, 61, 255, 0.25);
    --cell__text--lineheight: 25px;
    --cell__number--lineheight: 50px;
    --cell__border--color: rgba(0,0,0,1);
    --cell__background--color: rgba(129, 61, 255, 0.15);
}

.page-wrapper {
    width: 80vw;
    margin: 0 auto;
}

.search-form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .search__input, .search__button {
        border: 2px solid var(--search__border--color);
        font-size: inherit;
    }
    .search__input{
        flex: 5;
        padding: 0 10px;
        border-bottom-left-radius: var(--search__radius-borders);
        border-top-left-radius: var(--search__radius-borders);
        background: var(--search__background--color);
        ::placeholder{
            color: black;
        }
    }
    .search__button{
        flex: 1;
        border-bottom-right-radius: var(--search__radius-borders);
        border-top-right-radius: var(--search__radius-borders);
        cursor: pointer;
        .magnifying-glass{
            font-size: 1em;
            display: inline-block;
            width: 0.4em;
            box-sizing: content-box;
            height: 0.4em;
            border: 0.1em solid var(--search__button-glass--color);
            position: relative;
            border-radius: 0.35em;
            &:after {
                content: "";
                display: inline-block;
                position: absolute;
                right: -0.25em;
                bottom: -0.1em;
                border-width: 0;
                background: var(--search__button-glass--color);
                width: 0.3em;
                height: 0.08em;
                transform: rotate(45deg);
            }
        }
        &:hover{
            background: var(--search__border--color);
            .magnifying-glass{
                border: 0.1em solid white;
                &:after {
                    background: white;
                }
            }
        }
    }
    .pagination{
        flex: 2;
        margin-left: 30%;
        border: 4px solid var(--search__border--color);
        border-radius: 10px;
        .pagination__select{
            width: 40%;
            height: 100%;
            option{
                width: 60%;
            }
        }
        span{
            width: 20%;
            height: 100%;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            &:hover{
                color: white;
                background:  var(--search__border--color);
            }
        }
    }
}

.content{
    border: 6px solid var(--content__border--color);
}

.loading{
    width: 50%;
    height: 60vh;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    .loading__image{
        width: 50%;
        height: 55%;
        display: inline-block;
        background: url('../assets/images/catching-data.png') no-repeat center/cover;
    }
    p{
        margin: 4px;
    }
}

.header, .row {
    display: grid;
    grid-template-columns: 6% 23% 23% 17% 15% 16%;
}
.header{
    background: var(--header__background--color);
    .cell{
        line-height: var(--cell__number--lineheight);
        cursor: pointer;
        &:hover{
            border--color: orange;
        }
    }
}

.row{
    &:nth-child(2n){
        background: var(--cell__background--color);
    }
}

.cell {
    padding: 8px;
    font-size: 0.8rem;
    text-align: center;
    line-height: var(--cell__text--lineheight);
}
.total-income, .average-income, .last-income{
    line-height: var(--cell__number--lineheight);
}

.hidden-row{
    display: none;
}
.cell__sorted{
    background: rgba(168, 76, 0, 0.2);
}

.ascending{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        right: 0;
        top: 5%;
        width: 0;
        height: 0; 
        border-right: 10px solid transparent;
        border-bottom: 10px solid red;
        border-left: 10px solid transparent;
    }
}
.descending{ 
    position: relative;
    &:after{
        content: "";
        position: absolute;
        right: 0;
        top: 5%;
        width: 0;
        height: 0; 
        border-right: 10px solid transparent;
        border-top: 10px solid red;
        border-left: 10px solid transparent;
    }
}

@media(max-width: 1025px){
    .page-wrapper{
        width: 100vw;
    }

    .search-form{
        
        margin-bottom: 0;
    }
}

@media(max-width: 675px) {

    html, body{
        font-size: 3.4vw;
    }
    .page-wrapper {
        width: 100vw;
    }
    .content{
        width: 100vw;
        margin: 0 auto;
        .header{
            font-weight: 500;
        }
    }
    .header, .row {
        grid-template-columns: 6% 23% 23% 17% 15% 16%;
    }

    .pagination{
        width: 100vw;
        font-size: 1rem;
    }
}

@media(min-width: 676px) and (max-width: 1025px) {

    .content{
        margin: 0 auto;
    }

    .cell{
        font-size: 1.2rem;
    }

    .header, .row{
        grid-template-columns: 6% 23% 23% 17% 15% 16%;
    }

    .pagination{
        width: 100%;
        .page{
            padding: 2%;
        }
    }
}
